$color: #EBEBEB;

.boton {
    background-color: $color;
    padding: 6px 70px; 
    color: #000;
    margin-top: 0px;
    margin-bottom:2%;
    font-family: 'Noto Sans Tai Tham';
    font-size: 20px;
    border: 1px solid #D0D3D4 ;
    border-radius: 40px;
    box-shadow: 4px 4px 10px #e0dada;
}   
