
.box-first , .box-second{
    font-size: 30px;
    color: #00318F;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.box-second{ 
   margin-left: 200px;
}
